<h2>Welcome to the Digital Books App</h2>

<h4>What is the importance of books?</h4>
<p>Books play a quintessential role in every student's life by introducing them to a world of imagination,<br/>
    providing knowledge of the outside world, improving their reading, writing and speaking skills <br/>
    as well as boosting memory and intelligence.</p>

<h3 *ngIf="isAuthorLoggedIn()">Hi {{getUsername()}} !</h3>
<h4 *ngIf="isAuthorLoggedIn()">Share your knowledge, views, ideas and dreams with the world. Create a New Book Now !</h4>
<h3 *ngIf="!isAuthorLoggedIn()">You are a Reader</h3>
<h4 *ngIf="!isAuthorLoggedIn()">Browse and Subscribe to our exquisite collection of books and Go on a reading spree !</h4>