<h2>Welcome to the Digital Books App</h2>

<h4>What is the importance of books?</h4>
<p>Books play a quintessential role in every student's life by introducing them to a world of imagination,<br/>
    providing knowledge of the outside world, improving their reading, writing and speaking skills <br/>
    as well as boosting memory and intelligence.</p>

<h4>Share your knowledge, views, ideas and dreams with the world. Create an Author account today !</h4>
<h3>OR</h3>
<h4>Browse and Subscribe to our exquisite collection of books and Go on a reading spree !</h4>