<div>
    <h1 *ngIf="!authorLoggedIn">Digital Books - Reader</h1>
    <h1 *ngIf="authorLoggedIn">Digital Books - Author</h1>

    <a routerLink="/home">| Home |</a>

    <a *ngIf="!authorLoggedIn" routerLink="/reader/search">| Search & Subscribe |</a>
    <a *ngIf="!authorLoggedIn" routerLink="/reader/subscriptions">| Your Subscriptions |</a>
    <a *ngIf="!authorLoggedIn" routerLink="/reader/find">| Invoice Search |</a> 
    <a *ngIf="!authorLoggedIn" routerLink="/reader/notifications">| Get Notifications |</a>
    <a *ngIf="!authorLoggedIn" routerLink="/reader/notifications">| Author Login |</a>

    <a *ngIf="authorLoggedIn" routerLink="/author/books">| My Books |</a>
    <a *ngIf="authorLoggedIn" routerLink="/author/create">| Create New Book |</a>
    <a *ngIf="authorLoggedIn" routerLink="/author/logout">| Log Out |</a>

</div>